.global-nav {
	background-color: #c8102e;
}

.global-nav__links {
	background-color: #c8102e;
}

.global-nav-link.active {
	background-color: #ea102e;
}

.global-nav-link:hover 
{
	background-color: #b5102e;
}

.global_nav_logo:hover {
	background-color: #b5102e;
}

.global_nav_logo.active {
	background-color: #ea102e;
}

.uiAceKeyboardHint:focus {
    border: 2px solid #ea102e;
}

.input-range__track--active {
    background: #ea102e;
}

.input-range__slider {
    background: #ea102e;
    border: 1px solid #ea102e;
}

.is-focused:not(.is-open) > .Select-control {
    border-color: #ea102e;
}

.Select--multi .Select-value {
	border: 1px solid #ea102e;
	color: #ea102e;
}
.Select--multi a.Select-value-label {
	color: #ea102e;
}
.Select--multi .Select-value-icon {
	border-right: 1px solid #ea102e;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
	background-color: #ea102e;
	color: #fff;
}

saved-object-finder ul.li-striped .list-group-item a,
paginated-selectable-list ul.li-striped .list-group-item a {
    display: block;
    color: #ea102e !important;
}

.filter-bar .filter {
    background-color: #ea102e;
}


.global-nav .logo-small.kibana,.global-nav .logo.kibana
{
	background-color:#ffffff;
	background-size: 145px 52px;
	background-position: 14px 14px;
	background-repeat: no-repeat;
	background-image: url("/plugins/cira_branding/assets/images/cira_logo.svg")
}

.kibanaWelcomeLogo {
	background-image: url("/plugins/cira_branding/assets/images/cira_dot_badge.svg") !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	width: 110px !important;
	height: 110px !important;
	margin: -15px -25px 5px -15px !important;
}

/**
* 1. Override FontAwesome .fa styles.
*/
.kuiSideBarCollapsibleTitle__caret {
	color: #ea102e;
}
.kuiSideBarCollapsibleTitle__text {
	color: #ea102e;
}
/**
* 1. Override Bootstrap button styles.
*/
.kuiSideBarCollapsibleTitle__action {
	color: #ea102e;
}
/**
* 1. Override .sidebar-item styles.
*/
.kuiSideBarOptionsLink {
	color: #ea102e !important;
}

.tab-dashboard.theme-dark .panel--edit-mode:hover {
    border-color: #ea102e;
}
.theme-dark .is-focused:not(.is-open) > .Select-control {
    border-color: #ea102e;
}

.hintbox a {
    color: #ea102e !important;
}

.list-group-menu.select-mode a {
    outline: none;
    color: #ea102e;
}
.list-group-menu .list-group-menu-item {
    color: #ea102e;
}
.list-group-menu .list-group-menu-item li {
    color: #ea102e;
}

.input-range__slider {
    background: #ea102e;
    border: 1px solid #ea102e;
}

.input-range__track--active {
    background: #ea102e;
}

.form-control:focus {
    border-color: #ea102e;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    box-shadow: 0 0 0 1px white, 0 0 0 2px #ea102e;
    /* 3 */
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #ea102e;
    border-color: #ea102e;
}
.btn-default .badge {
    color: #ea102e;
    background-color: #ffffff;
}
.btn-primary {
    color: #ffffff;
    background-color: #ea102e;
    border-color: #ea102e;
}


.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #ea102e;
    border-color: #ea102e;
}
.btn-primary .badge {
    color: #ea102e;
    background-color: #ffffff;
}


.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #D9D9D9;
    border-color: #ea102e;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #ea102e;
}


.pagination > li > span {
    color: #ea102e;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #ea102e;
}

.label-default {
    background-color: #ea102e;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #ea102e;
}

.ui-select-bootstrap .ui-select-choices-row.active > span {
    background-color: #ea102e !important;
}


.ui-select-match.btn-default-focus .btn {
    border-color: #ea102e;
}

.wizard-type {
    color: #ea102e;
}
.wizard-type li {
  color: #ea102e;
}

.vis-editor .default-editor__resizer.active {
    background-color: #ea102e;
}
.vis-editor-subnav-link.is-vis-editor-sub-nav-link-selected {
    border-bottom: 2px solid #ea102e;
    border-color: #ea102e !important;
    color: #ea102e !important;
  }
  
.suggestionItem--operator .suggestionItem__type {
    background-color: #e6f2f6;
    color: #ea102e;
  }
  
.exitFullScreenModeText {
    background: #ea102e;
}

.panel--edit-mode:hover {
    border-color: #ea102e;
  }
  .panel--edit-mode:hover .panel-title:hover {
    color: #ea102e;
  }
  /**
 * Overwrites red coloring that comes from this library by default.
 */
.react-grid-item.react-grid-placeholder {
    border-radius: 4px;
    background: #ea102e;
  }
  
.dashboard-panel .panel .panel-heading .panel-dropdown:hover {
    color: #ea102e;
  }
  
.layout-with-margins .panel--edit-mode:hover {
    border-color: #ea102e;
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.1);
  }
  
.markdown-body a {
    color: #ea102e;
    text-decoration: none;
  }

  .thor__button-outlined-default {
    border-color: #ea102e;
    color: #ea102e !important;
  }
  .thor__button-solid-default {
    background-color: #ea102e;
  }
  .thor__button-outlined-danger:hover {
    border-color: #c73f2e;
    color: #c73f2e !important;
  }
  .vis_editor__visualization-draghandle:focus {
    color: #ea102e;
  }

  .metrics_issue {
    color: #ea102e;
  }
  